@import "../config";
@import "../sizes";

/*.....................................
  DISPLAY
.....................................*/
@each $media-size in $media-screen-size-keys {
  @media #{map-get($media-screen-sizes, $media-size)} {

    /* block
    .....................................*/
    .#{$media-size}block {
      display: block !important;
    }
    .#{$media-size}inline-block {
      display: inline-block !important;
    }
    .#{$media-size}inline {
      display: inline !important;
    }
    .#{$media-size}flex {
      display: flex !important;
    }

    /* visibility
    .....................................*/
    .#{$media-size}invisible {
      visibility: hidden;
      pointer-events: none !important;
    }
    .#{$media-size}hidden {
      display: none !important;
    }

    .#{$media-size}transparent {
      opacity: .5;
      transition: opacity 300ms ease;
    }

    /* alignment
    .....................................*/
    .#{$media-size}text-center {
      text-align: center !important;
    }
    .#{$media-size}text-right {
      text-align: right !important;
    }
    .#{$media-size}text-left {
      text-align: left !important;
    }
    .#{$media-size}text-middle {
      vertical-align: middle;
    }
  }
}
