@import "../config";

/*.....................................
  LISTS
.....................................*/

ul, ol {
  // inline lists
  &.list-inline {
    list-style: none;
    li {
      list-style: none;
      display: inline-block;
    }
  }
  &.list-inline-float {
    *zoom: 1;
    li {
      display: block;
      float: left;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
  }

  // no bullets or numbers
  &.list-no-bullets {
    list-style: none;
    li {
      list-style: none;
    }
  }
  // striped
  @if ($lists-striped-color) {
    &.list-striped {
      li {
        border: none;
      }
      li:nth-child(odd) {
        background: $lists-striped-color;
      }
    }
  }
}
