@import "../config";
@import "../sizes";

/* POSITION
.....................................*/

@each $media-size in $media-screen-size-keys {
  @media #{map-get($media-screen-sizes, $media-size)} {
    .#{$media-size}fixed {
      position: fixed !important;
    }
    .#{$media-size}absolute {
      position: absolute !important;
    }
    .#{$media-size}relative {
      position: relative !important;
    }
    .#{$media-size}top {
      top: 0px !important;
    }
    .#{$media-size}bottom {
      bottom: 0px !important;
    }
    .#{$media-size}right {
      right: 0px !important;
    }
    .#{$media-size}left {
      left: 0px !important;
    }
    .#{$media-size}auto {
      margin: auto !important;
    }
  }
}
