// xsmall 0px to 480px
$xsmall-only: "only screen and (max-width: 480px)";

// small 481px to 640px
$small-up: "only screen and (min-width: 481px)";
$small-only: "only screen and (min-width: 481px) and (max-width: 640px)";
$small-down: "only screen and (max-width: 640px)";

// medium 641px to 768px
$medium-up: "only screen and (min-width: 641px)";
$medium-only: "only screen and (min-width: 641px) and (max-width: 768px)";
$medium-down: "only screen and (max-width: 768px)";

// large 769px to 1024px
$large-up: "only screen and (min-width: 769px)";
$large-only: "only screen and (min-width: 769px) and (max-width: 1024px)";
$large-down: "only screen and (max-width: 1024px)";

// xlarge 1025px to 1200px
$xlarge-up: "only screen and (min-width: 1025px)";
$xlarge-only: "only screen and (min-width: 1025px) and (max-width: 1200px)";
$xlarge-down: "only screen (max-width: 1200px)";

// xxlarge 1200px up
$xxlarge-up: "only screen and (min-width: 1201px)";

$media-screen-size-keys: (
  "",
  "xsmall-only-",
  "small-up-",
  "small-only-",
  "small-down-",
  "medium-up-",
  "medium-only-",
  "medium-down-",
  "large-up-",
  "large-only-",
  "large-down-",
  "xlarge-up-",
  "xlarge-only-",
  "xxlarge-up-",
);

$media-screen-sizes: (
  "": "only screen",
  "xsmall-only-": $xsmall-only,
  "small-up-": $small-up,
  "small-only-": $small-only,
  "small-down-": $small-down,
  "medium-up-": $medium-up,
  "medium-only-": $medium-only,
  "medium-down-": $medium-down,
  "large-up-": $large-up,
  "large-only-": $large-only,
  "large-down-": $large-down,
  "xlarge-up-": $xlarge-up,
  "xlarge-only-": $xlarge-only,
  "xlarge-down-": $xlarge-down,
  "xxlarge-up-": $xxlarge-up,
);
