@import "../config";
@import "../sizes";

/*.....................................
  buttons
.....................................*/

// button base
@mixin btn() {
  // display
  display: inline-block;
  padding: 0px $button-default-size-horz-padding;
  box-sizing: border-box;

  // typography
  font-family: $body-font-family;
  font-size: $button-default-size-font-size;
  text-align: center;
  line-height: $button-default-size-height;
  height: $button-default-size-height;

  background-color: transparent;
  border-color: transparent;
  transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;

  // states
  &:link,
  &:visited {
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
  }
  &:hover,
  &.hover {
    opacity: 1;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
  }
  &:focus,
  &.focus {
    background-color: transparent;
    border-color: transparent;
  }
  &:active,
  &.active {
    background-color: transparent;
    border-color: transparent;
  }
  &[disabled],
  &.disabled {
    cursor: default;
    opacity: .5;
    &:hover, &:focus, &:active, &.is-active {
      cursor: default;
      opacity: .5;
    }
  }
  &.loading,
  &.processing {
    position: relative;
    color: rgba(0, 0, 0, 0);
    &:before {
      content: " ";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -8px 0 0 -8px;
    }
  }
  &.btn-borderless {
    border-width: 0px !important;
  }
}

@mixin btn-colors($button) {
  @if map-get($button, border-radius) {
    border-radius: map-get($button, border-radius);
  }
  border: map-get($button, border-width) solid map-get($button, border-color);
  color: map-get($button, color);
  background-color: map-get($button, background-color);
  font-size: map-get($button, font-size);
  font-family: map-get($button, font-family);
  font-weight: map-get($button, font-weight);
  @if map-get($button, border-width) {
    box-shadow: map-get($button, box-shadow);
  }
  @if map-get($button, letter-spacing) {
    letter-spacing: map-get($button, letter-spacing);
  }


  &:link,
  &:visited {
    background-color: map-get($button, background-color);
    border-color: map-get($button, border-color);
    color: map-get($button, color);
  }
  &:hover,
  &.hover,
  &:focus,
  &.focus {
    color: map-get($button, hover-color);
    background-color: map-get($button, hover-background-color);
    border-color: map-get($button, hover-border-color);
  }
  &:active,
  &.active {
    color: map-get($button, active-color);
    background-color: map-get($button, active-background-color);
    border-color: map-get($button, active-border-color);
  }
  &.selected {
    color: map-get($button, active-color);
    background-color: map-get($button, active-background-color);
    border-color: map-get($button, active-border-color);
  }
  &.processing {
    color: transparent;
    &:after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 20%;
      background-position: 50% 50%;
      animation: spin 600ms infinite linear;
    }
  }
}

.btn-circle {
  border-radius: 50% !important;
  &.btn--xxsmall,
  &.btn--xxsmall.icon--center {
    height: 25px !important;
    width: 25px !important;
    padding: 0 !important;
  }
  &.btn--xsmall,
  &.btn--xsmall.icon--center {
    height: 35px !important;
    width: 35px !important;
    padding: 0 !important;
  }
  &.btn--small,
  &.btn--small.icon--center {
    height: 35px !important;
    width: 35px !important;
    padding: 0 !important;
  }
  &.btn--medium,
  &.btn--medium.icon--center {
    height: 40px !important;
    width: 40px !important;
    padding: 0 !important;
  }
  &.btn--large,
  &.btn--large.icon--center {
    height: 50px !important;
    width: 50px !important;
    padding: 0 !important;
  }
}

@each $button in $button-styles {
  .btn-#{map-get($button, name)} {
    @include btn();
    @include btn-colors($button);
  }
}

@each $media-size in $media-screen-size-keys {
  @media #{map-get($media-screen-sizes, $media-size)} {
    @each $button in $button-sizes {
      .#{$media-size}btn-#{map-get($button, name)} {
        padding: 0 map-get($button, horz-padding);
        font-size: map-get($button, font-size);
        height: map-get($button, height);
        line-height: map-get($button, height);
      }
    }
  }
}


/* buttons group
......................................*/
.btn-group {
  &.btn-group--center,
  &.btn-group--left,
  &.btn-group--right {
    @each $button in $button-styles {
      .btn-#{map-get($button, name)} {
        display: inline-block;
        float: none;
      }
    }
  }

  &.btn-group--center {
    text-align: center;
  }
  &.btn-group--left {
    text-align: left;
  }
  &.btn-group--right {
    text-align: right;
  }

  &:after {
    content: ' ';
    clear: both;
    height: 0;
    font-size: 0;
    visibility: hidden;
    display: block;
  }

  @each $button in $button-styles {
    .btn-#{map-get($button, name)} {
      display: block;
      float: left;
      border-radius: 0;
      &.is-selected {
        box-shadow: inset 0px 0px 7px 0px rgba(170,170,170,0.4);
      }
    }
    .btn-#{map-get($button, name)}:nth-child(odd),
    div:nth-child(odd) .btn-#{map-get($button, name)},
    .select:nth-child(odd) .btn-#{map-get($button, name)} {
      border-right: 1px solid map-get($button, border-color);
      border-left: 1px solid map-get($button, border-color);
      &:hover,
      &:focus {
        border-right: 1px solid map-get($button, hover-border-color);
        border-left: 1px solid map-get($button, hover-border-color);
        z-index: 10000;
      }
    }
    .btn-#{map-get($button, name)}:nth-child(even),
    div:nth-child(even) .btn-#{map-get($button, name)},
    .select:nth-child(even) .btn-#{map-get($button, name)}  {
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      border-radius: 0px;
      &:hover,
      &:focus {
        border-left: 1px solid map-get($button, hover-border-color);
        border-right: 1px solid map-get($button, hover-border-color);
        z-index: 10000;
      }
    }
    .btn-#{map-get($button, name)}:first-child,
    div:first-child .btn-#{map-get($button, name)},
    .select:first-child .btn-#{map-get($button, name)} {
      border-left: 1px solid map-get($button, hover-border-color);
      border-radius: 5px 0 0 5px;
    }
    .btn-#{map-get($button, name)}:last-child {
      border-right: 1px solid map-get($button, hover-border-color);
      border-radius: 0 5px 5px 0;
    }

    div .btn-#{map-get($button, name)}:last-child,
    .select .btn-#{map-get($button, name)}:last-child {
      border-radius: 0px;
    }
    div:last-child .btn-#{map-get($button, name)},
    .select:last-child .btn-#{map-get($button, name)} {
      border-right: 1px solid map-get($button, border-color);
      border-radius: 0 5px 5px 0;
    }
  }
}
