@import "../config";
/*.....................................
  CHECKBOXES
.....................................*/
// checkbox style base
@mixin checkboxStyle($props) {
  label {
    .checkbox-icon {
      border: map-get($props, border-width) solid map-get($props, border-color);
      background-color: map-get($props, background-color);
      border-radius: map-get($props, border-radius);
    }
    .checkbox-label {
      color: map-get($props, label-color);
    }

    &:hover {
      .checkbox-label {
        color: map-get($props, label-hover-color);
      }
      .checkbox-icon {
        border: map-get($props, border-width) solid map-get($props, border-hover-color);
        background: map-get($props, background-hover-color);
      }
    }
  }
  input[type=checkbox]:checked + label {
    background-color: map-get($props, background-color);
    .checkbox-icon {
      background:  map-get($props, background-checked-color);
      border: map-get($props, border-width) solid map-get($props, border-checked-color);
    }
  }
}

@mixin checkboxSize($props) {
  label {
    .checkbox-icon {
      width: map-get($props, label-font-size);
      height: map-get($props, label-font-size);
    }
    .checkbox-label {
      padding-left: map-get($props, label-font-size) + map-get($props, label-font-size) / 2.5;
    }
  }
  input[type=checkbox]:checked + label {
    .checkbox-icon {
      i {
        width: map-get($props, label-font-size) / 3 * 2;
        height: map-get($props, label-font-size) / 3 * 2;
        top: (map-get($props, label-font-size) / (map-get($props, label-font-size) / 3 * 2)) / 2;
        left: (map-get($props, label-font-size) / (map-get($props, label-font-size) / 3 * 2)) / 2;
      }
    }
  }
}

.checkbox {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;

  label {
    user-select: none;
    position: relative;
    .checkbox-icon {
      position: absolute;
      top: 1px;
      left: 0;
      display: inline-block;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
      transition: all 100ms ease;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &.disabled,
  input[type=checkbox][disabled] + label {
    opacity: 0.5;
  }

  input[type=checkbox] {
    display: none;
    & + label {
      .checkbox-icon i {
        display: none;
      }
    }

    &:checked + label {
      .checkbox-icon {
        i {
          display: block;
          position: absolute;
          background-size: contain;
        }
      }
    }
  }

  @include checkbox-size(map-get($checkbox-sizes, default));
  @include checkbox-styles(map-get($checkbox-styles, default));
}

@each $checkbox-size in $checkbox-sizes {
  @if (map-get($input-size, name) == default) {}
  @else {
    &.checkbox-#{map-get($checkbox-size, name)} {
      @include checkbox-size($checkbox-size);
    }
  }
}

@each $checkbox-style in $checkbox-styles {
  @if (map-get($checkbox-style, name) == default) {}
  @else {
    &.checkbox-#{map-get($checkbox-style, name)} {
      @include checkbox-style($checkbox-style);
    }
  }
}
