@import "../config";
/*.....................................
  CHECKBOXES
.....................................*/
.checkbox {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;

  label {
    user-select: none;
    position: relative;
    .checkbox-icon {
      position: absolute;
      top: 1px;
      left: 0;
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 1px solid $gray-light;
      background: $white;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
      border-radius: 3px;
      transition: all 100ms ease;
    }
    .checkbox-label {
      padding-left: 23px;
    }

    &:hover {
      cursor: pointer;
      .checkbox-icon {
        border: 1px solid $gray-mid;
        background: $white;
      }
    }
  }

  // .user-select(none);

  input[type=checkbox] {
    display: none;

    & + label {
      .checkbox-icon i {
        display: none;
      }
    }

    &:checked + label {
      background-color: $white;
      .checkbox-icon {
        background: $blue-mid;
        border: 1px solid $blue-mid;
        i {
          display: block;
          position: absolute;
          top: 1px;
          left: 1px;
          background-size: contain;
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}
