@import "../config";

.wysiwyg {
  color: $body-color;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $body-wysiwyg-font-size;
  line-height: $body-wysiwyg-line-height;
  @media (max-width: 640px) {
    &.medium-down-text-1 {
      font-size: 18px;
      &.line-normal {
        line-height: 142.5% !important;
      }
    }
  }
  &.text-1 {
    font-size: 18px;
    &.line-normal {
      line-height: 142.5% !important;
    }
  }
  &.text-2 {
    font-size: 16px;
  }
  &.text-3 {
    font-size: 14px;
  }
  p {
    margin-bottom: 1em;
  }
  i {
    background: none !important;
    height: auto !important;
    line-height: inherit !important;
    width: auto !important;
    display: initial !important;
    white-space: initial !important;
  }
  em, i {
    font-style: italic;
  }
  strong {
    font-weight: $body-wysiwyg-bold-weight !important;
  }
  h1, h2, h3, h4 {
    color: #000000;
    font-family: $body-font-family;
  }
  h1, h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 105%;
    margin: 2em 0px .5em 0px;
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 105%;
    margin: 2em 0px .4em 0px;
  }
  h4 {
    font-size: 21px;
    font-weight: 600;
    line-height: 140%;
    margin: 2em 0px .4em 0px;
  }
  hr {
    border: none;
    border-bottom: 1px solid #e2e2e2;
    margin: 2em 0px;
  }
  ul, ol {
    margin-left: 25px;
    padding-left: 0!important;
    margin: 1em 0px 1em 1.1em;
    li {
      &::before {
        content: none !important;
      }
      padding-left: 0 !important;
    }
  }
  ul li {
    list-style: circle !important;
  }
  ol li {
    list-style-type: decimal !important;
  }
  u, a {
    position: relative;
    text-decoration: none;
    background-repeat: repeat-x;
    background-position: 0 calc(1em + 1px);
    background-size: 1px 1px;
    background-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="1" y2="1" stroke="$body-color" /></svg>');
  }
  a:link,
  a:visited {
    color: $body-color;
    text-decoration: none;
  }
  a:hover,
  a:active {
    color: $body-color;
    text-decoration: none;
    background-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="1" y2="1" stroke="rgba($body-link-color)" /></svg>');
  }
  img {
    width: 100%;
    height: auto;
    display: block;
    margin: 1em 0px 2em 0px;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
  }
  @media (max-width: 640px) {
    iframe {
      width: 100%;
      height: auto;
      display: block;
      margin: 1em 0px 2em 0px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    }
  }
  figure {
    max-width: 100% !important;
    margin: 1em 0 2em;
    img {
      margin: 0 !important;
    }
    figcaption {
      font-size: 14px;
      color: #989898;
      text-align: left;
    }
  }
  table {
    border-top: 1px solid #E2E2E2;
    width: 100%;
    border-collapse: collapse;
    td {
      border-bottom: 1px solid #E2E2E2;
      padding: 10px;
    }
    margin: 2em 0;
  }
}
