{{prefix}}-{{name}} {
  background-image: url('data:image/svg+xml;charset=utf-8,{{datauri}}');
  background-repeat: no-repeat;
  background-size: contain;
  width: {{sizes.medium.width}}px;
  height: {{sizes.medium.height}}px;
  text-indent: -99999px;
}

{{prefix}}-{{name}}.symbol--xsmall {
  width: {{sizes.xsmall.width}}px;
  height: {{sizes.xsmall.height}}px;
}
{{prefix}}-{{name}}.symbol--small {
  width: {{sizes.small.width}}px;
  height: {{sizes.small.height}}px;
}
{{prefix}}-{{name}}.symbol--medium {
  width: {{sizes.medium.width}}px;
  height: {{sizes.medium.height}}px;
}
{{prefix}}-{{name}}.symbol--large {
  width: {{sizes.large.width}}px;
  height: {{sizes.large.height}}px;
}
{{prefix}}-{{name}}.symbol--large {
  width: {{sizes.xlarge.width}}px;
  height: {{sizes.xlarge.height}}px;
}
