/*.....................................
  UTILITIES
.....................................*/

// cursors
.cursor-pointer:hover {
  cursor: pointer;
}
.cursor-move:hover {
  cursor: move;
}

// scrolling
.scrollable-hidden {
  overflow: hidden;
}
.scrollable-y {
  overflow-y: scroll;
}
.scrollable-x {
  overflow-x: scroll;
}

// stacking
.z-below {
  z-index: -10;
}
.z-bottom {
  z-index: 0;
}
.z-low {
  z-index: 10;
}
.z-mid {
  z-index: 20;
}
.z-high {
  z-index: 30;
}
.z-top {
  z-index: 2147483646;
}
.z-force-top {
  z-index: 2147483647;
}

// transparency
.hover-transparent-low,
.hover-transparent-mid,
.hover-transparent-hight {
  transition: opacity 300 ease;
}

.hover-transparent-low:hover,
.transparent-low {
  opacity: .8;
}

.hover-transparent-mid:hover,
.transparent-mid {
  opacity: .5;
}

.hover-transparent-high:hover,
.transparent-high {
  opacity: .3;
}
.hover-hidden {
  opacity: 1;
  transition: opacity 300 ease;
  &:hover {
    opacity: 0;
  }
}

.border-box {
  box-sizing: border-box;
}
.off-page {
  position: absolute;
  top: 0;
  left: -99999px;
}
